<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>25 Gün Sürecek Dev Yolculuk!</h2>
        <p class="lead">Civitavecchia Limanı, “sonsuzluğun Şehri” Roma’ya açılan kapıdır. ROMA : İtalya'nın başkentidir. 
          Katoliklerin ruhani lideri Papa'nın yaşadığı bağımsız devlet Vatikan Roma şehrinde yer almaktadır.
          Mimari ve tarihi yönleriyle sizlere hitap edecek Roma`da Forum, Sistine Şapeli, Pantheon ve St.Peter Bazilikası görülmeye değer yerler arasındadır. 
          İstanbul gibi Roma şehri 7 tepe üzerine kuruludur. <a target="_blank" href="http://join.deathtothestockphoto.com/">Tura kayıt olmak ve daha fazla bilgi almak için tıklayınız.. </a>.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
