<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand">
      <a href="#top"  onclick = $("#menu-close").click(); >Journey Tour</a>
    </li>
    <li>
      <a href="#top" onclick = $("#menu-close").click(); >Anasayfa</a>
    </li>
    <li>
      <a href="#portfolio" onclick = $("#menu-close").click(); >Turlarımız</a>
    </li>
    <li>
      <a href="#contact" onclick = $("#menu-close").click(); >İletişim</a>
    </li>
  </ul>
</nav>
